{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title> work in progress ....</title>
	<link rel="stylesheet" href="{% static 'peticion/estilos.css' %}">  
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="margen"></div>
			
		</div>


		<div class= row>
			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="cuerpo2">
				<h2 class="text-center" id= "texto">"Vine a Comala porque me dijeron que aca vivia mi padre un tal Pedro paramo. Mi madre me lo dijo. y yo le prometi que vendria a Verlo en cuanto ella muriera."</h2>
				<h2 class="text-center" id="texto">Le aprete sus manos en señal de que lo haria, pues ella estaba por morirse y yo en plan de prometerlo todo </h2>
				<h2 class="text-center" id="texto">Juan Rulfo, Pedro paramo </h2>
				<p class= "text-center" id="texto2"></p>
				<p class= "text-center" id="texto2"</p>
				
			</div>
			
		</div>


		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="pie"></div>
			
		</div>










	</div>

</body>
</html>
