{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{% static 'peticion/estilos.css' %}">  
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="margen"></div>


		<div class= row>
			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="cuerpo2">
				<h2 class="text-center"></h2>
				<p class="text-center" id="texto2">Al final pienso que esta perfecto que no confies en mi puesto que a veces no se sabe que se puede encontrar en una persona dobre todo en los chicos, me da gusto que te cuides :D </p>
				<h4 class="text-center" id="texto2">Aun asi te escribi algo</h4>

				<p class="text-center" id="texto2">Tu en el borde del mundo, aquella flor solo descrita en cuentos y leyendas helenicas 
					desde los confines de la existencia eres un punto de luz en aquel borde lleno de obscuridad,
					tu solo nombre evoca mejores dias, solo espero tan radiante flor logre conseguir ese tan
						mermecido sol que representa la tranquilidad y el bienestar pues eres tan grande que no mereces
				menos ... </p>
				<p class="text-center" id="texto2">En fin, te dire de verdad disculpa por todo espero estes bien ya sabes el resto...</p>
			
				<a href="{%url 'peticion:pedir'%}" class="btn btn-success" id="button">Inicio</a>
				
			</div>
			
		</div>


		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="pie"></div>
			
		</div>










	</div>

</body>
</html>
